# Python training: some basics 2

In [17]:
import random

## Strings

In [4]:
v1 = 'aAbBcC'

In [5]:
# Print in lower case
v1.lower()

'aabbcc'

In [6]:
# Print in upper case
v1.upper()

'AABBCC'

In [7]:
# Add 0 at the beginning, the length must be 10
v2 = '2332224'
v2.zfill(10)

'0002332224'

In [13]:
# Transform string to integer
int(v2)

2332224

In [14]:
# Get the length of v1
len(v1)

6

## Loops

In [53]:
# while: make randint(1, 10) until you get 5

nb = random.randint(1, 10)
print(nb)

while nb != 5:
    nb = random.randint(1, 10)
    print(nb)

10
3
4
9
7
7
4
3
5

In [32]:
# Infinite loop: make randint(1, 1000) until you get 500

test = 0

while True or test > 10:
    test += 1
    nb = random.randint(1, 10)
    print(nb)
    if nb == 5:
        break

7
10
4
3
10
7
9
3
5

In [35]:
# Add 1 to each number of the string, 9 becomes 0, alphabetical chars remains
v3 = 'a12bc8dk9'
v = ''
for c in v3:
    new_char = c
    if new_char in '1234567890':
        new_char = str(int(new_char) + 1)[-1]
    v += new_char

print(v)

a23bc9dk0

In [34]:
'9'[-1]

'9'

## Lists

In [42]:
# Get a list of numbers with "split"
v4 = '11-22-54-83'
v5 = v4.split('-')
v5

['11', '22', '54', '83']

In [43]:
# Get the length of the list
len(v5)

4

In [45]:
# Get second element of the list
v5[1]

'22'

In [46]:
# Add "89" to the list
v5.append('89')
v5

['11', '22', '54', '83', '89']

In [47]:
# Join the list of numbers with "_"
'_'.join(v5)

'11_22_54_83_89'