# Sorting in python

Ordering tasks are very common, for example:
* Lists
* Pandas Dataframes
* Ordered dictionnaries

## Lists
In python we have one method `sort` of lists and one function `sorted`.

In [2]:
# Using sorted
test_list = [2, 1, 5, 3, 3]
sorted_list = sorted(test_list)
print('test_list: ', test_list)
print('sorted_list: ', sorted_list)

test_list:  [2, 1, 5, 3, 3]
sorted_list:  [1, 2, 3, 3, 5]

In [3]:
# Using sort
test_list = [2, 1, 5, 3, 3]
sorted_list = test_list.sort()
print('test_list: ', test_list)
print('sorted_list: ', sorted_list)

test_list:  [1, 2, 3, 3, 5]
sorted_list:  None

In [4]:
# Reverse sorting
test_list = [2, 1, 5, 3, 3]
sorted_list = sorted(test_list, reverse=True)
print('test_list: ', test_list)
print('sorted_list: ', sorted_list)

test_list:  [2, 1, 5, 3, 3]
sorted_list:  [5, 3, 3, 2, 1]

In [18]:
# Using key

# Sort according to the last letter
test_list = ['tree', 'dog', 'flag', 'hand', 'friend', 'apple', 'bees']
sorted_list = sorted(test_list, key=lambda x:x[-1])
print('sorted_list: ', sorted_list)

sorted_list:  ['hand', 'friend', 'tree', 'apple', 'dog', 'flag', 'bees']

In [19]:
# Sort according to the last letters first
test_list = ['tree', 'dog', 'flag', 'hand', 'friend', 'apple', 'bees']
sorted_list = sorted(test_list, key=lambda x:x[::-1])
print('Reverse word: ', 'word'[::-1])
print('sorted_list: ', sorted_list)

Reverse word:  drow
sorted_list:  ['hand', 'friend', 'tree', 'apple', 'flag', 'dog', 'bees']

In [20]:
# Sort objects
test_list = [{'name': 'Raphaël'},
             {'name': 'Eke'},
             {'name': 'Dominik'}]

sorted_list = sorted(test_list, key=lambda x:x['name'])
print('sorted_list: ', sorted_list)

sorted_list:  [{'name': 'Dominik'}, {'name': 'Eke'}, {'name': 'Raphaël'}]

## Pandas Dataframes

In [25]:
import pandas as pd

In [26]:
df = pd.read_excel('sample_data.xlsx')
df

        IZ Library Code Alma     Library Name Alma          circ_desk
0    BCUFR          BCUF_BCU     FR BCU Beauregard  DEFAULT_CIRC_DESK
1    BCUFR          BCUF_COF  FR COF Conservatoire           COF_CIRC
2    BCUFR          BCUF_BFD            FR UNI BFD           BFD_CIRC
3    BCUFR         BCUF_BHAP           FR UNI BHAP          BHAP_CIRC
4    BCUFR          BCUF_BHT            FR UNI BHT           BHT_CIRC
..     ...               ...                   ...                ...
164   ZHAW               E51   ZHAW HSB Winterthur  DEFAULT_CIRC_DESK
165   ZHAW               E97       ZHAW HSB Zürich  DEFAULT_CIRC_DESK
166   ZHDK               E65     ZHDK-MIZ (Zürich)  DEFAULT_CIRC_DESK
167    ZPH              UHFH          HFH (Zürich)  DEFAULT_CIRC_DESK
168    ABN               AKB                   AKB  DEFAULT_CIRC_DESK

[169 rows x 4 columns]

In [27]:
df_sorted = df.sort_values(by='Library Code Alma')
df_sorted

,IZ,Library Code Alma,Library Name Alma,circ_desk
127,UBS,A100,Basel - UB Hauptbibliothek,DEFAULT_CIRC_DESK
131,UBS,A125,Basel - UB Wirtschaft - SWA,DEFAULT_CIRC_DESK
132,UBS,A130,Basel - Uni Altertumswissenschaften,DEFAULT_CIRC_DESK
128,UBS,A140,Basel - UB Medizin,DEFAULT_CIRC_DESK
129,UBS,A170,Basel - UB Religion,DEFAULT_CIRC_DESK
...,...,...,...,...
157,VGE,vge_bge,Bibliothèque de Genève,DEFAULT_CIRC_DESK
159,VGE,vge_bmu,La Musicale de la Bibliothèque de Genève,DEFAULT_CIRC_DESK
158,VGE,vge_cjb,Conservatoire et Jardin botaniques de la Ville...,DEFAULT_CIRC_DESK
160,VGE,vge_meg,Musée d'ethnographie,DEFAULT_CIRC_DESK
161,VGE,vge_mhn,Muséum d'histoire naturelle,DEFAULT_CIRC_DESK

In [28]:
df_sorted.to_excel('sample_data.xlsx', index=False)

## Ordered dict
In normal dict the keys are not ordered. They are like a set. `OrderedDict` are very similar to dicts but with order of the keys.

In [50]:
from collections import OrderedDict
d = OrderedDict({"one": 1, "two": 2, "three": 3, 'four': 4})
d

OrderedDict([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

In [51]:
d['five'] = 5
d

OrderedDict([('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)])

In [52]:
sorted(d)

['five', 'four', 'one', 'three', 'two']

In [53]:
for key in sorted(d):
    d.move_to_end(key)
    
d

OrderedDict([('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)])