# Variable types

| Immutable | Mutable |
|-----------|---------|
| int       | list    |
| float     | dict    |
| str       | set     |
| tuple     |         |
| bool      |         |
| bytes     |         |

### Simple example
#### Strings are not mutable in python

In [71]:
txt = '12345'
print(txt)

12345

In [72]:
# Not possible to change single char
txt[2] = 'M'

TypeError: 'str' object does not support item assignment

In [73]:
# We need to create a new string
txt[:2] + 'M' + txt[3:]

'12M45'

#### Lists vs tuples

In [76]:
# Lists are mutable
list_a = [1, 2, 3]
list_a.append(4)
print(list_a)

[1, 2, 3, 4]

In [77]:
# Tuples are like lists, but not mutable
tuple_a = (1, 2, 3)
tuple_a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

### Check variable type

In [39]:
# We use `type`

# Check type of a string
v_str = 'dog'
type(v_str) is str

True

In [81]:
# Check type of a boolean
type(True) is bool

True

In [ ]:
# Check type of a float
type(8.3) is float

In [88]:
# Very often result of function can be None, we need to check it
def sqrt(n):
    if n >= 0:
        return n**0.5
    else:
        return None

print('sqrt(4): ', sqrt(4))
print('sqrt(-4): ', sqrt(-4))

sqrt(4):  2.0
sqrt(-4):  None

In [91]:
# With -9 the result of function will be None
a = sqrt(-9)
if a is not None:
    print(a)
else:
    print('no answer')

no answer

In [92]:
# With 9 the result of function will be 3.0
a = sqrt(9)
if a is not None:
    print(a)
else:
    print('no answer')
    
# Important: None is a kind of type !

3.0

In [48]:
type(8.3) is float

True

### Mutable vs immutable

In [49]:
# In case of mutable variables, variable itself are only links to the object

a = [1, 2, 3, 4]
b = a
# a and b are linked to the SAME object list

a.append(5)
print(b)

[1, 2, 3, 4, 5]

In [93]:
# This is dangerous in functions because if we change objects like lists, dictionnaries
# in the function, the change will be everywhere

def add_element(a):
    # a is changed but also b as a is linked to the
    # same object as b
    a.append('new')
    print('a: ', a)

b = [1, 2, 3]
add_element(b)
print('b: ', b)

a:  [1, 2, 3, 'new']
b:  [1, 2, 3, 'new']

In [52]:
# We don't have the same with immutable variables like integer
# In this case, a and b are not linked
def add_element(a):
    # We create a new variable, that is not linked with b.
    # Every time we change a, we in fact create a new variable
    a += 3
    print('a: ', a)

b = 10
add_element(b)
print('b: ', b)

a 13
b 10

### Timeit: consequence of immutable

In [94]:
import timeit

In [95]:
def create_text_str(text_to_add):
    """concatenate 10 times the given string"""
    text = ''
    for i in range(10):
        text += text_to_add
    return text
create_text_str('dog')

'dogdogdogdogdogdogdogdogdogdog'

In [96]:
# 3 solutions to do the same

def create_text_str(text_to_add):
    text = ''
    for i in range(1000000):
        text += text_to_add
    return text

def create_text_list(text_to_add):
    text = []
    for i in range(1000000):
        text.append(text_to_add)
    return ''.join(text)

def create_text_mult(text_to_add):
    return text_to_add * 1000000

In [97]:
%timeit create_text_str('dog')

71.7 ms ± 1.51 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [98]:
%timeit create_text_list('dog')

53.7 ms ± 1.98 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [99]:
%timeit create_text_mult('dog')

177 µs ± 875 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)