# Pandas 1 - exercises

In [1]:
# Exercise 1: import required libraries

In [ ]:
# Exercise 2: select column Barcode, MMS ID and Title

In [ ]:
# Exercise 3: select only the first 100 rows

In [ ]:
# Exercise 4: create a new column to indicate if MMS ID is duplicated (option: first is kept)

In [ ]:
# Exercise 5: Suppress duplicates

In [ ]:
# Exercise 6: Add quotes to the title '"' The title => "The title"